.title{
    background-color: rgb(187, 245, 247);
    text-align: center;
    /* font-family: 'Neucha', cursive; */
    font-family: 'Staatliches', cursive;
    font-size: 95px;
    text-shadow: 2px 2px cornflowerblue;
    padding-top: 15px;
    border: rgb(138, 208, 211) 5px dotted;
    
}

.pagetitle{
    margin-left: 10px;
    font-family: 'Staatliches', cursive;
    font-size: 90px;
    text-shadow: rgb(165, 204, 255) 2px 2px;
    background-color: rgb(187, 245, 247);
    padding-left: 10px;
    text-align: center;

}

#instruction{
    margin-top: -30px;
    font-size: 20px;
    font-family: 'Neucha', cursive;
    text-shadow: none;
}

#offedge{
    margin-left: 30px;
    margin-right: 30px;
}

/* for graphs 2 and 3 on data page*/
.offedge{
    margin-left: 10px;
    margin-right: 10px;
}

#smalltext{
    font-size: 13px;
}

#movedown{
    margin-top: 25px;
}

#formshadow{
    text-shadow: 2px 2px rgb(187, 245, 247);
}

.resultsuserdata{
    background-color: aliceblue;
    font-size: 20px;
    padding: 20px;
    font-family: 'Staatliches';
    text-shadow: none;
    border: rgb(187, 245, 247) 5px solid;
}

.graphlayout{
  
}

.moveup{
    margin-top: -30px;
}

.brightblue{
    background-color: rgb(187, 245, 247);
    color:black;
    border-color: black;
}

#datagraphnum{
    padding-left: 20px;
    font-family: 'Staatliches';
    font-size: 55px;
    
}

#bghighlight{
    background-color: rgb(187, 245, 247);
    padding-left: 10px;
    padding-right: 10px;
}

.graphexplain{
    font-size: 20px;
    padding: 20px;
    font-family: 'Staatliches';
}

.justifytext{
    margin-top: 175px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: rgb(187, 245, 247);
    font-size: 50px;
    padding: 40px;
    font-family: 'Staatliches';
    text-align: center;
    padding: 20px;
}

.takequiztext{
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(187, 245, 247);
    font-size: 50px;
    padding: 28px;
    font-family: 'Staatliches';
    text-align: center;
}

