body{
    background-color: rgba(rgb(228, 169, 169), rgb(224, 231, 224), rgb(197, 197, 231), 0.5);
    font-family: 'Hind', sans-serif;
}

#yellowbg{
    background-color: rgb(250, 229, 177);
    border: solid 5px rgb(217, 176, 150);
}

.pinkbg{
    background-color: rgb(245, 196, 218);
    border: solid 5px rgb(252, 131, 186);
}

#longjump{
   justify-content: center;
}