<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container-fluid">
    <a class="navbar-brand" href="index.html">
        <img src="https://walfiegif.files.wordpress.com/2020/11/out-transparent-32.gif?w=339&h=301&zoom=2" alt="" width="20" height="24" class="d-inline-block align-text-top">
        Capstone</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="https://wingsum-siu.github.io/WingsumSiu/index.html">
                    <img src="https://walfiegif.files.wordpress.com/2020/11/out-transparent-16.gif" alt="" width="24" height="24" class="d-inline-block align-text-top">
                    Home</a>
            </li>
            <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="...">A link to another page</a></li>
                <li><a class="dropdown-item" href="...">Another link to a page</a></li>
            </ul>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="form.html">
                    <img src="https://walfiegif.files.wordpress.com/2021/06/out-transparent-1.gif?w=371&h=371" alt="" width="20" height="24" class="d-inline-block align-text-top">
                    Form</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="results.html">
                    <img src="https://walfiegif.files.wordpress.com/2020/11/out-transparent-48.gif?w=371" alt="" width="20" height="24" class="d-inline-block align-text-top">
                    Results</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="data.html">
                    <img src="https://walfiegif.files.wordpress.com/2020/12/out-transparent-4.gif?w=371&h=359" alt="" width="24" height="24" class="d-inline-block align-text-top">
                    Data</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="aboutme.html">
                    <img src="https://walfiegif.files.wordpress.com/2020/11/out-transparent-48.gif?w=371" alt="" width="24" height="24" class="d-inline-block align-text-top">
                    About Me</a>
            </li>
    </div>
</div>
</nav>

